<!DOCTYPE html>
<html>

<head>
    <title>Volco: Volumio Controller</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo:400,600,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Volumio controller</h1>
    
    <h3>Playlists</h3>

    <ul>
        {% for playlist in playlists %}
        <li>
            <a href="{{ playlist.url }}">{{ playlist.name }}</a>
        </li>
        {% endfor %}

    </ul>

    <h3>Playback</h3>
    
    <form action="/playback/play" method="POST" target="responseframe" class="button">
        <input type="submit" value="Play" />
    </form>

    <form action="/playback/pause" method="POST" target="responseframe" class="button">
        <input type="submit" value="Pause" />
    </form>

    <form action="/playback/status" method="GET" target="responseframe" class="button">
        <input type="submit" value="Status" />
    </form>
    
    <h3>Misc</h3>
    <ul>
        <li><a href="/tracklist" target="_blank">Get NTS tracklist</a></li>
        <li><a href="/patterns">Update playlist patterns</a></li>
        <li><a href="/logs/refresh.log">View refresh log</a></li>
    </ul>
    <iframe name="responseframe" id="responseframe"></iframe>

</body>

</html>
